<div class="modal-header">
    <h3 class="modal-title">Its a slider!{{photo}}</h3>
</div>
<div class="modal-body">
    {{mysmartd}}
    {{file}}
<form class="form-horizontal" novalidate>

    <fieldset>

        <div ng-repeat ="item in items">

        <div class="form-group">
            <label class="control-label" for="item.{{$index}}">Image.urls-{{$index+1}}</label>
            <div class="controls">
                <input ng-model="photo"
                       onchange="angular.element(this).scope().file_changed(this)"
                       type="file" accept="image/*" />
                <input type="text"  name="item.{{$index}}" data-ng-model="item.url" id="item.{{$index}}" class="form-control" placeholder="Name" required>
            </div>
        </div>


        </div>

            <div class="modal-footer">
                <button ng-show="item.directive==='directive'"class="btn btn-primary" ng-click="create()">create</button>
                <button ng-show="item.directive==='directive'"class="btn btn-warning" ng-click="cancel()">cancel</button>
                <div ng-repeat ="mine in mines">
                    <button class="btn btn-success" ng-click="ok(mine)">Edit</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>


        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>


    </fieldset>
</form>
</div>




